body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../contact-images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    /* width: 50%; */
     height: 100vh; 
    text-align: center;
}

ul{
    margin: 0px;
    padding: 0px;
}

ul li{
    display: inline-block;
    margin: 8px;
    float: right;
    margin-right: 40px;
}

ul li a{
    text-decoration: none;
    color: gold;

}

ul li a:hover{
    color: darkorange;
    text-decoration: underline;
}


h1{
    clear: both;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    color: gold;
    margin-top: 50px;
    line-height: 100px;
    text-decoration: none;
    transition: all 2s ease;
}
h1:hover{
    color: darkorange;
    text-decoration: underline;
}


form{
    margin-top: 150px;
    text-align: center;
}

.data{
    clear: both;
    width: 600px;
    background-color: transparent;
    border: 0px;
    outline: 0px;
    border-bottom: 1.5px solid grey; 
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bolder;
    color: white;
    
}

.button{
    background-color: orange;
    width: 150px;
    height: 35px;
    padding: 8px;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
    outline: none;
    color: black;
    font-weight: bolder;
    font-size: 1rem;
    transition: all 2s ease;
}
.button:hover{
    text-decoration: underline;
    background-color: gold;
}


h2{
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    color: gold;
    margin-top: 50px;
    text-decoration: none;
    transition: all 2s ease;
}



.copyright{
    color: gold;
    font-weight: bold;
    text-align: center;
    background-color: inherit;
    text-decoration: none;
}

/* .copyright:hover{
    color: darkorange;
} */


































































