body {
  background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.35)), url(../index-images/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
}

/* header */

#header {
}

i {
    color:black;
  transition: all 2s linear;
}

i:hover {
    transform: translateX(60px);
}


ul {
  float: right;
  list-style-type: none;
  margin: 0px;
}

ul li {
  display: inline-block;
  margin-top: -150px;
  padding: 0 10px;
}

ul li a {
  text-decoration: none;
  color:black;
  font-weight: bold;
}

ul li a:hover {
  background-color:darkcyan;
  text-decoration: underline;
}

/* content */

.heading1 {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  color: gold;
  text-decoration: none;
  transition: all 2s ease;
}

.heading1:hover {
      text-decoration: underline;
      color: darkorange;

}

#content {
  position: relative;
}

span {
  position: absolute;
  top: 50%;
  right: 55%;
  font-size: 1.5rem;
  color: gold;
}

form {
  position: absolute;
  top: 80%;
  right: 43%;
}

form input {
  border-radius: 5px;
  width: 14rem;
  text-align: center;
  text-transform: capitalize;
}

button {
  background-color:orange;
  padding: 5px;
  border-radius: 5px;
  width: 80px;
  display: inline-block;
  border: transparent;
  transition: all 1s linear;
}

button:hover {
    text-decoration: underline;
    color: red;
    background-color:gold;
}

.button1{
    position: absolute;
top: 110%; 
right: 45%; 
}

.button2{
    position: absolute;
top: 110%; 
right: 52%; 
}

button a {
    text-decoration: none;
    color: crimson;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
}


.paragraph{
    text-align: center;
    clear: both;
    position: relative;
    
}

.para1::first-letter{
    font-size: 2rem;
    font-weight: bold;

}

.para1{
    position: absolute;
    margin-top: 10%;
    clear: both;
}

.para2::first-letter{
    font-size: 2rem;
    font-weight: bold;

}


.para2{
    position: absolute;
    margin-top: 25%;
    clear: both;
}

.para3::first-letter{
    font-size: 2rem;
    font-weight: bold;

}


.para3{
    position: absolute;
    margin-top: 40%;
    clear: both;
}


/* footer */

#footer {
  /* position: relative; */
}
h2{
    font-size: .75rem;
    color: darkgoldenrod;
    text-align: center;
    /* position: absolute; */
    margin-top: 70%;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
}

.copyright{
    text-align: center;
    color: darkgoldenrod;
}






















